CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build/*
build_make/*
build_ninja/*
build_win32/*
build_win64/*
build_x64/*
build_x86/*
build_linux/*
.vs/*
externlib/*